* {
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: cadetblue;
  width: 50%;
  height: 20px;
  margin-left: 300px;
  margin-top: 20px;
  font-weight: bold;
}
